body {
    font-family: 'Poppins', sans-serif;
    background-color: #3A5FCD;
    color: #F8F8FF;
}

a {
    color: #F8F8FF;
    font-variant: small-caps;
}

.nav-link:hover, .navbar-brand:hover {
    color: #F8F8FF;
    text-shadow: 0.4px 0.5px rgba(0,0,0,0.32);
}

.navbar {
    padding-left: 0;
}